# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Credentials & Secrets
.env

# Data & Models
dataset/
checkpoints/*
models/

# Build & Runtime
node_modules/
logs/
evaluation_reports/
*.db